<footer>
    <p>&copy; 2026 Interlaced Pixel</p>
    <div class="social-links">
        <a href="https://github.com/Interlaced-Pixel" target="_blank" rel="noopener" aria-label="GitHub">
            <span class="material-icons-outlined">code</span>
        </a>
        <a href="#" aria-label="Twitter">
            <span class="material-icons-outlined">flutter_dash</span>
        </a>
        <a href="mailto:support@interlacedpixel.com" aria-label="Email">
            <span class="material-icons-outlined">email</span>
        </a>
    </div>
</footer>
