---
layout: null
permalink: /rss.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>Interlaced Pixel</title>
    <link>https://interlaced-pixel.github.io/</link>
    <description>Updates, tutorials, and release notes from Interlaced Pixel</description>
    <language>en-us</language>
    {% for post in collections.posts %}
    <item>
      <title>{{ post.data.title | xml_escape }}</title>
      <link>https://interlaced-pixel.github.io{{ post.url }}</link>
      <pubDate>{{ post.date.toUTCString() }}</pubDate>
      <description>{{ (post.data.description || post.templateContent | striptags | truncate(300)) | xml_escape }}</description>
      <guid isPermaLink="true">https://interlaced-pixel.github.io{{ post.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>