---
layout: null
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://interlaced-pixel.github.io/</loc>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://interlaced-pixel.github.io/contact.html</loc>
    <priority>0.6</priority>
  </url>
  {% for post in collections.posts %}
  <url>
    <loc>https://interlaced-pixel.github.io{{ post.url }}</loc>
    <lastmod>{{ post.date.toISOString().split('T')[0] }}</lastmod>
    <priority>0.7</priority>
  </url>
  {% endfor %}
</urlset>